*,
*:before,
*:after {
  box-sizing: border-box !important;
}

body {
  background-color:rgb(243, 243, 243);
  color: #fff;
}

.container {
  margin-top: 1%;
  margin-bottom: 3%;
}
h1 { padding: 1em; }

.home-masonry-set .item {
  display: inline-block;
  text-align: center;
  overflow: hidden;
  max-height: 16em;
  min-height: 16em;
  position: relative;
  padding-right: 0px;
  padding-left: 0px;
}

.home-masonry-set .item article {
  display: block;
  opacity: 0;
  height: 100%;
  padding: 60px 50px;
  position: relative;
  transition: all .5s ease;
}

.home-masonry-set > .item img {
  display: block;
  object-fit: cover;
  position: absolute;
  top: 0%;
  left: 0%;
  min-height: 16em;
  width: 100%;
  z-index: 0;
}

.home-masonry-set > div:hover {
  cursor: pointer;
}

.home-masonry-set > div:hover article {
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 1;
}

.home-masonry-set > div h3 {
  margin-top: 0px;
}

.home-masonry-set > div p {
  text-align: justify;
}
a{
  font-size: 20px;
  color: white;
}
a:hover{
color: red;
}